@theme {
	--font-display: 'Inter', sans-serif;

	--color-paragraph: #e1e1e1;
	--color-blanCasse: #fbfcfc;
	--color-blancBleu: #f0f6fe;
	--color-bleu: #3662e3;
	--color-bleuFonce: #1e2d4e;
	--color-vertFonce: #213a33;
	--color-vertClair: #5ec269;
	--color-violetFonce: #2e254e;
	--color-violetClair: #9d59ef;
}
